$_lightModeColor:hsl(200, 15%, 8%);
$_lightModeBackground:hsl(0, 0%, 98%);
$_lightModeElement:#fff;
$_darkModeColor:#fff;
$_darkModeBackground:hsl(207, 26%, 17%);
$_darkModeElement:hsl(209, 23%, 22%);
$_lightModeInput:hsl(0, 0%, 52%);